<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Reviews page on customer</title>
    <link rel="stylesheet" type="text/css" href="/reviews_customer.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>

<!-- Navigation Bar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Customer Panel</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/customer" target="_self">Customer</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/customer/properties" target="_self">Properties</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/customer/contracts" target="_self">Contracts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/customer/reviews" target="_self">Reviews</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/solicitations/solicitationsCustomer" target="_self">Requests</a>
            </li>
        </ul>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/" target="_self">Sign out</a>
            </li>
        </ul>
    </div>
</nav>

<!-- Button Section -->
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <a href="/customer/reviews/reviewsListCustomer" class="btn btn-lg btn-block btn-custom-get-reviews">See All Reviews</a>
            <a href="/customer/reviews/searchReviewCustomer" class="btn btn-lg btn-block btn-custom-get-one-review">Look for One Review</a>
            <a href="/customer/reviews/insertReviewCustomer" class="btn btn-lg btn-block btn-custom-insert-review">Insert New Review</a>
            <a href="/customer/reviews/updateReviewCustomer" class="btn btn-lg btn-block btn-custom-update-review">Update an Existing Review</a>
        </div>
    </div>
</div>

</body>
</html>