<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Reviews List</title>
    <link rel="stylesheet" type="text/css" href="/reviewsList.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>

<!-- Navigation Bar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Admin Panel</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/admin/reviews" target="_self">Back to Reviews</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    <h1 class="mt-5">Reviews List</h1>
    <div class="row mt-4">
        <div th:each="review : ${review}" class="col-12 mb-4">
            <div class="card-custom text-black">
                <div class="card-body">
                    <p class="review-message" th:text="${review.message}"></p>
                    <div class="review-details">
                        <span>ID: <span th:text="${review.id}"></span></span>
                        <span>Date: <span th:text="${review.date}"></span></span>
                        <span>User ID: <span th:text="${review.user_id}"></span></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
