<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><!DOCTYPE html>
        <html lang="en" xmlns:th="http://www.thymeleaf.org">
        <head>
        <meta charset="UTF-8">
        <title>Search Contract</title>
    <link rel="stylesheet" type="text/css" href="/searchContractCustomer.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>

<!-- Navigation Bar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Customer Panel</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/customer/contracts" target="_self">Back to Contracts</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container mt-5">
    <h1>Search Contract</h1>
    <form action="/contracts/searchContractCustomer" method="GET">
        <div class="form-group">
            <label for="contractId">Enter Contract ID:</label>
            <input type="text" class="form-control" id="contractId" name="id">
        </div>
        <button type="submit" class="btn btn-lg btn-block btn-custom-search">Search</button>
    </form>

    <div th:if="${error}">
        <div class="alert alert-danger mt-3" role="alert">
            <p th:text="${error}"></p>
        </div>
    </div>

    <div th:if="${searched_contract}">
        <table class="table table-hover table-dark mt-5">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Start Date</th>
                <th scope="col">Duration</th>
                <th scope="col">Details</th>
                <th scope="col">User ID</th>
                <th scope="col">Property ID</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td th:text="${searched_contract.id}"></td>
                <td th:text="${searched_contract.startDate}"></td>
                <td th:text="${searched_contract.duration}"></td>
                <td th:text="${searched_contract.details}"></td>
                <td th:text="${searched_contract.user_id}"></td>
                <td th:text="${searched_contract.property_id}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>
