<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Contract</title>
    <link rel="stylesheet" type="text/css" href="/updateContract.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>

<!-- Navigation Bar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Admin Panel</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/admin/contracts" target="_self">Back to Contracts</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container mt-5">
    <h2 class="text-center">Update Contract</h2>

    <!-- Search Contract Form -->
    <form action="/contracts/updateContract" method="GET">
        <div class="form-group">
            <label for="contractId">Enter Contract ID:</label>
            <input type="text" class="form-control" id="contractId" name="id">
        </div>
        <button type="submit" class="btn btn-lg btn-block btn-custom-search-update">Search</button>
    </form>

    <div th:if="${error}">
        <div class="alert alert-danger mt-3" role="alert">
            <p th:text="${error}"></p>
        </div>
    </div>

    <!-- Update Contract Form -->
    <form action="/contracts/updateContract" method="post" class="mt-4" th:if="${updated_contract != null}" onsubmit="return validateForm()">
        <input type="hidden" id="id" name="id" th:value="${updated_contract.id}">
        <div class="form-group">
            <label for="startDate">Start Date</label>
            <input type="text" class="form-control" id="startDate" name="startDate" th:value="${updated_contract.startDate}" required>
            <small id="startDateError" class="text-danger"></small>
        </div>
        <div class="form-group">
            <label for="duration">Duration</label>
            <input type="text" class="form-control" id="duration" name="duration" th:value="${updated_contract.duration}" required>
            <small id="durationError" class="text-danger"></small>
        </div>
        <div class="form-group">
            <label for="details">Details</label>
            <input type="text" class="form-control" id="details" name="details" th:value="${updated_contract.details}" required>
        </div>

        <div th:if="${error}">
            <div class="alert alert-danger mt-3" role="alert">
                <p th:text="${error}"></p>
            </div>
        </div>

        <div th:if="${success_message}">
            <div class="alert alert-success mt-3" role="alert">
                <p th:text="${success_message}"></p>
            </div>
        </div>

        <button type="submit" class="btn btn-lg btn-block btn-custom-update-contract">Update</button>
    </form>
</div>

<script>
    function validateForm() {
        var startDateInput = document.getElementById("startDate").value;

        // Regular expression for validating date format
        var dateFormat = /^\d{4}-\d{2}-\d{2}T\d{2}:\d{2}$/;
        if (!dateFormat.test(startDateInput)) {
            console.error("Please enter the start date in the format YYYY-MM-DDTHH:MM");
            document.getElementById("startDateError").innerHTML = "Please enter the start date in the format YYYY-MM-DDTHH:MM";
            return false;
        }

        return true;
    }

</script>

</body>
</html>
