body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url("./images/home.png");
    background-size: cover;
    color: #4e342e;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: #343a40;
    color: white;
}

.btn-custom-get-contracts {
    margin-top: 12rem;
    background-color: #8d6e63;
    border-color: #8d6e63;
    color: white;
}

.btn-custom-get-one-contract {
    margin-top: 12rem;
    background-color: #330000;
    border-color: #330000;
    color: white;
}




