body {
    background-image: url("./images/table.jpg");
    background-size: cover;
    color: white;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

h1 {
    font-size: 4rem;
    color: #4e342e;
    margin-bottom: 4rem;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: #343a40;
    color: white;
}

.btn-custom-search {
    background-color: #8d6e63;
    border-color: #8d6e63;
    color: white;
    font-size: 1.5rem;
    padding: 10px 20px;
    margin-top: 20px;
}

.btn-custom-search:hover {
    background-color: #6d4c41;
    border-color: #6d4c41;
}

.btn-custom-download {
    background-color: #330000;
    border-color: #330000;
    color: white;
    font-size: 1.5rem;
    padding: 10px 20px;
    margin-top: 20px;
}

.btn-custom-download:hover {
    background-color: #330000;
    border-color: #330000;
}


